@font-face {
	src: url("Font_IslandMoments-Regular.ttf");
  font-family: "en_font";
}

#EN_font {
  font-family: "en_font";
}

@font-face {
	src: url("Font_BlackHanSans-Regular.ttf");
  font-family: "kr_font";
}

#KR_font {
  font-family: "kr_font";
}

#chos_film_color {
  color: black;
}

body {
  margin: 0px;
  /*background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /*배경 그라데이션*/
}
h1 {
  font-size: 115px;
  margin: 0px;
  text-align: center;
  border-bottom:1px solid #83bdf7;
  background-color: #68a6e4;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#menu1 {
  background: #68a6e4;
}

#menu1 ul{
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

#menu1 ul li{
  float: left;
  width: 25%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  background: #68a6e4;
}

#menu1 ul li a{
  display: block;
}

#menu1 ul li a:hover {          /*마우스 올렸을때 커지는거*/
  font-size: 25px;
  background: #4994de;
  color: #fff;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

#main_menu_small {
  font-size: 21px;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}


